<?xml version="1.0" encoding="UTF-8" ?>
<beans>
    <bean id="userDao" class="github.middlewaremagic.redismagic.test.bean.UserDao"/>
    <bean id="userService" class="github.middlewaremagic.redismagic.test.bean.UserService">
        <property name="uId" value="10001"/>
        <property name="userDao" ref="userDao"/>
        <property name="company" value="腾讯"/>
        <property name="location" value="深圳"/>
    </bean>
    <bean class="github.middlewaremagic.redismagic.test.common.MyBeanPostProcessor"/>
    <bean class="github.middlewaremagic.redismagic.test.common.MyBeanFactoryPostProcessor"/>
</beans>